.content {
    background: #F0F0F0;
    overflow-y: auto;
    height    : 100%;

    &_number {
        padding-left: 24px;
        padding     : 0px 24px 12px;

        span:nth-child(2) {
            margin-left: 12px;
        }
    }

    &_info {
        display      : flex;
        height       : 75vh;
        max-height   : 750px;
        margin-bottom: 24px;

        &_left {
            display        : flex;
            justify-content: space-between;
            flex-direction : column;
            width          : calc(100% - 324px);
            margin-right   : 24px;

            .car-box {
                width        : 100%;
                overflow-x   : auto;
                margin-bottom: 24px;
            }

            .line-box {
                flex         : 1;
                margin-bottom: 0px;
                overflow-y   : auto;
            }
        }

        &_right {
            width        : 300px;
            height       : 100%;
            min-width    : 150px;
            margin-bottom: 0px;
            overflow-y   : auto;


        }
    }

}