<button nz-button nzType="default" style="float: right;">{{ 'Edit' | translate }}</button>
<h3 style="clear: both;">{{ 'Basic Information' | translate }}</h3>
<p> {{ fbaPickUpMethodTypePipe[orderInfo?.fbaPickUpMethodType]  || '--' }} /
    {{ orderInfo?.originAddress || '--' }} /
    {{ orderInfo?.originWarehouse || '--' }}
</p>
<p>{{ 'salesman' | translate }}： {{ orderInfo?.serviceUser || '--' }}</p>
<p>{{ 'Customers' | translate }}：{{ orderInfo?.customerName || '--' }}</p>
<p>{{ 'Create Order Date' | translate }}：{{ orderInfo?.creationTime | date }}</p>
<p>{{ 'Create Order people' | translate }}：{{ orderInfo?.creator || '--' }}</p>

<h3>{{ 'Shipment info' | translate }}</h3>
<p>{{ 'FBA number' | translate }}： {{ orderInfo?.fbano || '--' }}</p>
<p>Reference ID: {{ orderInfo?.referenceId || '--' }}</p>
<p>{{ 'Express number' | translate }}：{{ orderInfo?.expressNo || '--' }}</p>
<p>{{ 'Cabinet number' | translate }}：{{ orderInfo?.containerNos || '--' }} </p>
<p>{{ 'Cabinet type' | translate }}： {{ orderInfo?.containerCounts || '--' }}</p>
<p>{{ 'Course name/voyage' | translate }}：{{ orderInfo?.voyageNo || '--' }}</p>

<h3>{{ 'Goods describe' | translate }}</h3>
<p>{{ orderInfo?.commodity || '--' }}</p>
<p>
    {{ orderInfo?.totalQuantity?.value }}
    {{ orderInfo?.totalQuantity?.unit }} /
    {{ orderInfo?.totalWeight?.value }}
    {{ orderInfo?.totalWeight?.unit }} /
    {{ orderInfo?.totalVolume?.value }}
    {{ orderInfo?.totalVolume?.unit }}
</p>

<h3>{{ 'Remark' | translate }}</h3>
<p>{{ orderInfo?.remark || '--' }}</p>