<button nz-button nzType="default" style="float: right;">{{ 'Edit' | translate }}</button>
<h3 style="clear: both;">{{ 'Basic Information' | translate }}</h3>
<p>海运 FBA / 海卡（包税） / 自拼</p>
<p>{{ 'salesman' | translate }}： TEST</p>
<p>{{ 'Customers' | translate }}：佰禾（直客）</p>
<p>{{ 'Create Order Date' | translate }}：2019-18-45</p>
<p>{{ 'Create Order people' | translate }}：XXX</p>

<h3>{{ 'Shipment info' | translate }}</h3>
<p>{{ 'FBA number' | translate }}： kjsldfkjalsdfkjladksfjlakf</p>
<p>Reference ID: XXXXXXXXXX</p>
<p>{{ 'Express number' | translate }}：XXXXXXX</p>
<p>{{ 'Cabinet number' | translate }}：</p>
<p>{{ 'Cabinet type' | translate }}：</p>
<p>{{ 'Course name/voyage' | translate }}：XXXXXXXX</p>

<h3>{{ 'Goods describe' | translate }}</h3>
<p>燃气热水器</p>
<p>500CTNS /4000KG /200CBM</p>

<h3>{{ 'Remark' | translate }}</h3>
<p>箱子上贴了迈买云腾（美国站）1到26小小 的侧唛</p>