<a nz-dropdown [nzDropdownMenu]="menu" nzSize="small" nzType="link" nzOverlayClassName="default-layout-langs__menu" nzTrigger="click">
  <i nz-icon nzType="global" nzTheme="outline" style="font-size: 14px;"></i>
  <!-- <i nz-icon [nzIconfont]="currentLang=='zh-CN'?'icon-cn':'icon-en'" style="font-size: 14px;"></i> -->
  <span class="title">
    {{ currentLang | translate }}
  </span>
</a>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div nz-menu class="width-sm">
    <li nz-menu-item *ngFor="let item of langs" [nzSelected]="item.code === currentLang" (click)="onChangeLang(item.code)">
      <span role="img" [attr.aria-label]="item.text" class="pr-xs">{{ item.abbr }}</span>
      {{ item.text }}
    </li>
  </div>
</nz-dropdown-menu>
