<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'确认入仓'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkText]="'确定'" [nzCancelText]="'取消'" nzWidth="500px" nzMaskClosable="false">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4" nzFor="email" nzRequired>入仓时间</nz-form-label>
                    <nz-form-control [nzSpan]="20" nzErrorTip="{{ 'Putaway date is required' | translate }}">
                        <nz-date-picker [nzFormat]="'yyyy/MM/dd'" formControlName="data" style="width: 90%;">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</nz-modal>