<nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Change the password' | translate" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" [nzOkText]="'Save' | translate" [nzCancelText]="null" nzWidth="690">
  <section class="content">
    <form nz-form nzLayout="vertical" [formGroup]="passValidateForm" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzRequired]="'true'">{{ 'The original password' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'Please Enter the password!' | translate">
              <nz-input-group [nzSuffix]="suffixTemplate0">
                <input [type]="passwordOldVisible ? 'text' : 'password'" nz-input
                  [placeholder]="'Please enter the old password' | translate" formControlName="oldPassword"
                  autocomplete="new-password" />
              </nz-input-group>
              <ng-template #suffixTemplate0>
                <i nz-icon [nzType]="passwordOldVisible ? 'eye' : 'eye-invisible'"
                  (click)="passwordOldVisible = !passwordOldVisible"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24" style="margin-top: 10px;">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzRequired]="'true'">{{ 'New password' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="passwordErrorTpl">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <!-- <input autocomplete="off" [type]="password1Visible ? 'text' : 'password'" nz-input
                  [placeholder]="'Please enter the new password' | translate" formControlName="newPassword"
                  (keyup)="pipePass('pass1', $event)" /> -->
                <input autocomplete="off" [type]="password1Visible ? 'text' : 'password'" nz-input
                  [placeholder]="'Please enter the new password' | translate" formControlName="newPassword" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="password1Visible ? 'eye' : 'eye-invisible'"
                  (click)="password1Visible = !password1Visible"></i>
              </ng-template>
              <ng-template #passwordErrorTpl let-control>
                <!-- <div *ngIf="control.hasError('minlength')">
                  {{ 'Password at least 8 characters.' | translate }}
                </div> -->
                <div *ngIf="control.hasError('required')">
                  {{ 'Please Enter the password!' | translate }}
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24" style="margin-top: 10px;">
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzRequired]="'true'">{{ 'Confirm the new password' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="password2ErrorTpl">
              <nz-input-group [nzSuffix]="suffixTemplate2">
                <!-- <input autocomplete="off" [type]="password2Visible ? 'text' : 'password'" nz-input
                  [placeholder]="'Please enter the new password again' | translate" formControlName="newPasswordC"
                  (keyup)="pipePass('pass2', $event)" /> -->
                <input autocomplete="off" [type]="password2Visible ? 'text' : 'password'" nz-input
                  [placeholder]="'Please enter the new password again' | translate" formControlName="newPasswordC" />
              </nz-input-group>
              <ng-template #suffixTemplate2>
                <i nz-icon [nzType]="password2Visible ? 'eye' : 'eye-invisible'"
                  (click)="password2Visible = !password2Visible"></i>
              </ng-template>
              <ng-template #password2ErrorTpl let-control>
                <!-- <div *ngIf="control.hasError('minlength')">
                  {{ 'Password at least 8 characters.' | translate }}
                </div> -->
                <div *ngIf="control.hasError('required')">
                  {{ 'Please Enter the password!' | translate }}
                </div>
                <div *ngIf="control.hasError('confirm')">
                  {{ 'Password is inconsistent!' | translate }}
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </section>
</nz-modal>