<div *ngIf="pro.isTopMenu" class="portal__top-nav">
  <div class="portal__top-nav-main" [ngClass]="{ 'portal__top-nav-main-wide': pro.isFixed }">
    <div class="portal__top-nav-main-left">
      <default-layout-logo class="portal__top-nav-logo"></default-layout-logo>
      <div class="portal__menu-wrap">
        <div default-layout-menu mode="horizontal"></div>
      </div>
    </div>
    <div class="portal__top-nav-main-right" default-layout-header-widget></div>
  </div>
</div>
<div *ngIf="!pro.isTopMenu" class="portal__header">
  <div class="d-flex align-items-center">
    <ng-container *ngIf="pro.isMobile">
      <a [routerLink]="['/']" class="portal__header-logo">
        <img src="./assets/logo-color.svg" width="32" alt="" />
      </a>
      <div class="ant-divider ant-divider-vertical"></div>
    </ng-container>
    <div class="portal__header-item portal__header-trigger" (click)="pro.setCollapsed()">
      <i nz-icon nzType="menu-{{ pro.collapsed ? 'unfold' : 'fold' }}" class="portal__header-item-icon"></i>
    </div>
  </div>
  <div default-layout-header-widget></div>
</div>
