<div class="csp-header">
  <div class="csp-header-main">
    <co-menu></co-menu>
  </div>

  <div class="csp-header-main" style="flex: 1; justify-content: flex-end; align-items: center; height: 100%;">
    <div class="csp-user-header">
      <div class="alain-default__nav-item" nz-dropdown nzPlacement="bottomRight" [nzDropdownMenu]="userMenu">
        <img
          style="width: 30px; height: 30px;"
          [src]="
            userInfo.profilePictureId
              ? imgUrl + '/Storage/File/GetDownLoadFile?fileId=' + userInfo.profilePictureId + '&Handler=image'
              : '/assets/images/avatar.png'
          "
        />
        <div>
          <div style="margin-left: 10px;">
            <strong>{{ userInfo?.name }}</strong>
          </div>
          <div style="margin-left: 10px; color: #999;">{{ userInfo?.emailAddress }}</div>
        </div>
        <div style="color: #999; margin-left: 5px;">
          <i nz-icon nzType="caret-down" nzTheme="outline"></i>
        </div>
      </div>

      <nz-dropdown-menu #userMenu="nzDropdownMenu">
        <div nz-menu class="csp-header-menu">
          <div nz-menu-item class="menu-item">
            <a routerLink="/account/baseInfo" class="flex">
              <span>{{ 'My account' | translate }}</span>
              <span class="tag-zy" [title]="position" *ngIf="position">{{ position ? position : null }}</span>
            </a>
          </div>
          <div nz-menu-item class="menu-item" (click)="logout()">
            <span>{{ 'Sign Out' | translate }}</span>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>

    <!-- <ng-template [aclIf]="Roles.Anonymous">
      <a (click)="logout(true)">{{ 'Sign In' | translate }}</a>
    </ng-template> -->
  </div>
</div>
