<section [ngStyle]="{ height: fromAddMember ? '90%' : '100%' }">
  <div class="header">
    <nz-input-group data-im-input-show class="search-history" [nzSuffix]="inputClearTpl" [nzPrefix]="suffixIconSearch">
      <input
        *ngIf="!fromAddMember"
        type="text"
        nz-input
        nz-popover
        [nzVisible]="visible"
        [nzOverlayStyle]="{ display: !searchContactText ? 'none' : 'block' }"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate"
        [(ngModel)]="searchContactText"
        (ngModelChange)="searchContact()"
        [placeholder]="'Search' | translate"
        class="check-psn-input"
      />
      <input
        *ngIf="fromAddMember"
        type="text"
        nz-input
        [(ngModel)]="searchContactText"
        (ngModelChange)="searchContact()"
        [placeholder]="'Search' | translate"
        class="check-psn-input"
      />
    </nz-input-group>
    <ng-template #inputClearTpl
      ><i
        data-im-input-show
        nz-icon
        style="transform: translateY(3px);"
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="searchContactText"
        (click)="searchContactText = null; resetList()"
      ></i
    ></ng-template>
    <ng-template #contentTemplate>
      <div data-im-input-show class="search-result">
        <ng-container *ngIf="searchContactResultList.length">
          <label data-im-input-show for="">本公司</label>
          <p data-im-input-show *ngFor="let item of searchContactResultList">
            <ng-template *ngTemplateOutlet="resultTemplate; context: { result: item }"></ng-template>
            <label *ngIf="fromAddMember && item.userId && item.isActive" class="my-checkbox" nz-checkbox [(ngModel)]="item.checked"></label>
            <span class="member-not-actice" *ngIf="fromAddMember && (!item.userId || !item.isActive)">未激活</span>
          </p>
        </ng-container>

        <ng-container *ngIf="myCustomerContactResultList.length">
          <label data-im-input-show for="">我的客户</label>
          <p data-im-input-show *ngFor="let item of myCustomerContactResultList">
            <ng-template *ngTemplateOutlet="resultTemplate; context: { result: item }"></ng-template>
            <label *ngIf="fromAddMember && item.userId && item.isActive" class="my-checkbox" nz-checkbox [(ngModel)]="item.checked"></label>
            <span class="member-not-actice" *ngIf="fromAddMember && (!item.userId || !item.isActive)">未激活</span>
          </p>
        </ng-container>

        <ng-container *ngIf="partnerContactResultList.length">
          <label data-im-input-show for="">合作伙伴</label>
          <p data-im-input-show *ngFor="let item of partnerContactResultList">
            <ng-template *ngTemplateOutlet="resultTemplate; context: { result: item }"></ng-template>
            <label *ngIf="fromAddMember && item.userId && item.isActive" class="my-checkbox" nz-checkbox [(ngModel)]="item.checked"></label>
            <span class="member-not-actice" *ngIf="fromAddMember && (!item.userId || !item.isActive)">未激活</span>
          </p>
        </ng-container>

        <ng-container *ngIf="serviceContactResultList.length">
          <label data-im-input-show for="">服务商</label>
          <p data-im-input-show *ngFor="let item of serviceContactResultList">
            <ng-template *ngTemplateOutlet="resultTemplate; context: { result: item }"></ng-template>
            <label *ngIf="fromAddMember && item.userId && item.isActive" class="my-checkbox" nz-checkbox [(ngModel)]="item.checked"></label>
            <span class="member-not-actice" *ngIf="fromAddMember && (!item.userId || !item.isActive)">未激活</span>
          </p>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #resultTemplate let-item="result">
      <img
        data-im-input-show
        (dblclick)="chatWithPercon(item)"
        [src]="item.profilePictureId ? formatImAvatarUrl(item.profilePictureId) : 'assets/images/im/avatar-2.png'"
        alt=""
      />
      {{ item.name }}{{ item.surname }}
      <ng-container *ngIf="item.cName"> ({{ item.cName }}) </ng-container>
    </ng-template>
    <nz-radio-group
      *ngIf="!fromAddMember || (fromAddMember && !searchContactText)"
      (ngModelChange)="onRadioChange($event)"
      [(ngModel)]="currentRadio"
    >
      <label *ngFor="let radio of radioList" nz-radio-button [nzValue]="radio.value">{{ radio.name }}</label>
    </nz-radio-group>
  </div>
  <div class="tongxunlu-wrap">
    <ng-container *ngIf="!fromAddMember || (fromAddMember && !searchContactText)">
      <ng-container *ngIf="currentRadio == 'service' && fromType === 'csp'">
        <div class="company-wrap" *ngFor="let item of serviceList">
          <div class="company-content-name">
            <i
              nz-icon
              [nzIconfont]="'icon-zhankai'"
              [ngStyle]="{ transform: item.notshow ? 'rotate(-90deg)' : 'rotate(0deg)' }"
              (click)="item.notshow = !item.notshow"
              class="iconfont icon-zhankai"
            ></i>
            <i nz-icon [nzIconfont]="'icon-fenzu'" class="iconfont icon-fenzu"></i>
            <h4>{{ item.companyName }}</h4>
          </div>
          <ng-container *ngIf="!item.notshow">
            <div *ngFor="let contact of item.users" class="personList">
              <ng-container *ngIf="(fromAddMember && contact.isActive) || !fromAddMember">
                <lib-address-popover
                  [currentRadio]="currentRadio"
                  [fromType]="fromType"
                  (contactsDbClick)="chatWithPercon($event)"
                  [contact]="contact"
                ></lib-address-popover>

                <div class="contact-group-wrap">
                  <p>
                    {{ contact.name }} {{ contact.surname }}
                    <ng-container *ngIf="contact.cName">({{ contact.cName }})</ng-container>
                  </p>
                  <p [title]="contact.positionName" *ngIf="contact.positionName">{{ contact.positionName }}</p>
                </div>
                <label
                  *ngIf="fromAddMember && contact.userId && contact.isActive"
                  class="my-checkbox"
                  nz-checkbox
                  [(ngModel)]="contact.checked"
                ></label>
                <span class="member-not-actice" *ngIf="fromAddMember && (!contact.userId || !contact.isActive)">未激活</span>
                <span
                  [ngStyle]="{ color: contact.isActive ? '#007AFF' : 'rgba(0,0,0,0.65)' }"
                  class="isActive-style"
                  *ngIf="contact.userId && !fromAddMember"
                  >{{ contact.isActive && contact.userId ? '已激活' : '已邀请' }}</span
                >
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="currentRadio == 'company' && fromType === 'csp'">
        <div *ngFor="let contact of currentShowLists" class="personList">
          <lib-address-popover
            [currentRadio]="currentRadio"
            [fromType]="fromType"
            (contactsDbClick)="chatWithPercon($event)"
            [contact]="contact"
          ></lib-address-popover>

          <div class="contact-group-wrap">
            <p>
              {{ contact.name }} {{ contact.surname }}
              <ng-container *ngIf="contact.cName">({{ contact.cName }})</ng-container>
            </p>
            <p [title]="contact.position" *ngIf="contact.position">{{ contact.position }}</p>
          </div>
          <label
            *ngIf="fromAddMember && contact.userId && contact.isActive"
            class="my-checkbox"
            nz-checkbox
            [(ngModel)]="contact.checked"
          ></label>
          <span class="member-not-actice" *ngIf="fromAddMember && (!contact.userId || !contact.isActive)">未激活</span>
          <span
            [ngStyle]="{ color: contact.isActive ? '#007AFF' : '#3F3F3F' }"
            class="isActive-style"
            *ngIf="contact.userId && !fromAddMember"
            >{{ contact.isActive && contact.userId ? '已激活' : '已邀请' }}</span
          >
        </div>
      </ng-container>
      <ng-container *ngIf="(currentRadio === 'company' && fromType != 'csp') || (currentRadio != 'service' && currentRadio != 'company')">
        <div class="company-wrap" *ngFor="let item of currentShowLists">
          <div class="company-content-name">
            <i
              [ngStyle]="{ transform: !item.show ? 'rotate(-90deg)' : 'rotate(0deg)' }"
              (click)="item.show = !item.show"
              nz-icon
              [nzIconfont]="'icon-zhankai'"
              class="iconfont icon-zhankai"
            ></i>
            <i class="iconfont icon-fenzu" nz-icon [nzIconfont]="'icon-fenzu'"></i>
            <h4>{{ item.companyName }}</h4>
            <i
              nz-popover
              [nzOverlayStyle]="{ 'font-size': '12px' }"
              nzPopoverTrigger="hover"
              nzPopoverPlacement="top"
              [nzPopoverContent]="item.isRegistered ? '已认证' : '未认证'"
              *ngIf="(currentRadio == 'partner' || currentRadio == 'myCustomer') && !fromAddMember"
              [ngStyle]="{ color: item.isRegistered ? '#ffd278' : 'rgba(0,0,0,0.25)' }"
              nz-icon
              [nzIconfont]="'icon-kaitong'"
              class="iconfont icon-kaitong"
            ></i>
          </div>
          <ng-container *ngIf="item.show">
            <div *ngFor="let contact of item.contacts" class="personList">
              <lib-address-popover
                [currentRadio]="currentRadio"
                [fromType]="fromType"
                (contactsDbClick)="chatWithPercon($event)"
                [contact]="contact"
              ></lib-address-popover>
              <div class="contact-group-wrap">
                <p>
                  {{ contact.name }} {{ contact.surname }}
                  <ng-container *ngIf="contact.cName">({{ contact.cName }})</ng-container>
                </p>
                <p [title]="contact.position" *ngIf="contact.position">{{ contact.position }}</p>
              </div>
              <label
                *ngIf="fromAddMember && contact.userId && contact.isActive"
                class="my-checkbox"
                nz-checkbox
                [(ngModel)]="contact.checked"
              ></label>
              <span class="member-not-actice" *ngIf="fromAddMember && (!contact.userId || !contact.isActive)">未激活</span>
              <span
                [ngStyle]="{ color: contact.isActive ? '#007AFF' : '#3F3F3F' }"
                class="isActive-style"
                *ngIf="contact.userId && !fromAddMember"
                >{{ contact.isActive && contact.userId ? '已激活' : '已邀请' }}</span
              >
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="fromAddMember && searchContactText">
      <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template>
    </ng-container>
  </div>
  <ng-template #suffixIconSearch>
    <i data-im-input-show nz-icon style="transform: translateY(3px);" nzType="search"></i>
  </ng-template>
</section>
