<div class="warppper">
  <!-- <div class="war-head">
    <user-login-head></user-login-head>
  </div> -->

  <div style="display: flex; justify-content: center; position: relative;">
    <div class="war-content">
      <img src="/assets/images/logon_bg.jpg" class="content-bg" />
      <!-- <img src="assets/images/login/cityocean_cover.png" class="login-l-img" width="584" height="600" alt=""> -->
      <div class="login-main-box">
        <user-login-main *ngIf="panel == 1" (forgotPassword)="panel = 2"></user-login-main>
        <portal-app-forgot-password *ngIf="panel == 2" (back)="panel = 1"></portal-app-forgot-password>
      </div>

      <!-- <div class="login-main-box">
        
      </div> -->
    </div>
  </div>
</div>
