<ng-template #sideTpl>
  <nz-sider
    [nzTrigger]="null"
    [nzCollapsible]="true"
    [nzCollapsed]="isMobile ? false : pro.collapsed"
    [nzWidth]="pro.width"
    [nzCollapsedWidth]="pro.widthInCollapsed"
    class="alain-pro__sider"
    style="max-width: 200px;"
    [ngClass]="{ 'alain-pro__sider-fixed': pro.fixSiderbar }"
  >
    <div class="alain-pro__sider-header">
      <!--Logo-->
      <layout-pro-logo class="alain-pro__sider-logo"></layout-pro-logo>

      <!--头像区域-->
      <div class="alain-pro__sider-avatar">
        <nz-avatar
          [nzSrc]="
            userInfo?.profilePictureId
              ? imgUrl + '/Storage/File/GetDownLoadFile?fileId=' + userInfo?.profilePictureId + '&Handler=image'
              : '/assets/images/avatar.png'
          "
          nzSize="large"
          class="user-avatar"
        ></nz-avatar>
        <div class="user-desc">
          <h3>{{ user.session.user.name }} <i nz-icon nztype="down"></i></h3>
          <p>
            {{ user.session.user.emailAddress }}
          </p>
        </div>
      </div>

      <!--搜索栏-->
      <div class="alain-pro__sider-search">
        <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="small">
          <input type="text" nz-input placeholder="{{ 'Shortcut search' | translate }}" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
    </div>

    <!--菜单导航区域-->
    <div class="alain-pro__sider-main">
      <div class="alain-pro__sider-wrap" layout-pro-menu></div>
    </div>

    <!--底部栏-->
    <div class="alain-pro__sider-footer">
      <ul>
        <li>
          <a nz-dropdown [nzDropdownMenu]="menu" nzSize="small">
            <i nz-icon nzIconfont="iconsetting"></i>
            <span class="title">
              {{ 'Language' | translate }}
            </span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="change('zh-CN')">简体中文</li>
              <li nz-menu-item (click)="change('en-US')">English</li>
            </ul>
          </nz-dropdown-menu>
        </li>
        <li>
          <a nz-button nzSize="small" nzType="link" (click)="logout()" style="cursor: pointer;">
            <i nz-icon nzType="logout" nzTheme="outline" style="color: #e55354;"></i>
            <span class="title" style="color: #e55354;">
              {{ 'Sign Out' | translate }}
            </span></a
          >
        </li>
      </ul>
    </div>
  </nz-sider>
</ng-template>

<ng-template #headerWidgets>
  <div class="alain-pro__top-nav-main-right" layout-pro-header-widget></div>
</ng-template>

<div class="ant-layout ant-layout-has-sider" style="height: 100vh;">
  <ng-container *ngIf="pro.menu === 'side' || isMobile">
    <nz-drawer
      *ngIf="isMobile"
      [nzWidth]="pro.width"
      nzWrapClassName="alain-pro__drawer"
      [nzVisible]="!pro.collapsed"
      [nzClosable]="false"
      nzPlacement="left"
      (nzOnClose)="pro.setCollapsed(true)"
    >
      <ng-template [ngTemplateOutlet]="sideTpl"></ng-template>
    </nz-drawer>
    <ng-container *ngIf="!isMobile">
      <ng-template [ngTemplateOutlet]="sideTpl"></ng-template>
    </ng-container>
  </ng-container>
  <div class="ant-layout alain-pro__main" [ngStyle]="getLayoutStyle" style="height: 100vh;">
    <!-- <layout-pro-header></layout-pro-header> -->
    <div
      class="ant-layout-content alain-pro__body"
      [class.alain-pro__fetching]="isFetching"
      [ngStyle]="getContentStyle"
      style="display: flex; flex-direction: column;"
    >
      <div class="alain-pro__header-item alain-pro__header-trigger" (click)="pro.setCollapsed()">
        <i nz-icon nzType="menu-{{ pro.collapsed ? 'unfold' : 'fold' }}" class="alain-pro__header-item-icon"></i>
      </div>
      <nz-spin class="alain-pro__fetching-icon" nzSpinning></nz-spin>

      <reuse-tab #reuseTab [tabBarExtraContent]="headerWidgets" tabType="card" class="icp-nav"></reuse-tab>

      <nz-content style="flex: auto; margin: 12px; background: #fff; border-radius: 10px; overflow: hidden;">
        <router-outlet></router-outlet>
      </nz-content>

      <div id="app-host-container" class="thy-layout"></div>
    </div>
  </div>
</div>

<!-- <ng-template #settingHost></ng-template> -->
<!-- <quick-chat></quick-chat> -->
<!-- <layout-theme-btn></layout-theme-btn> -->
