<section>
  <div class="file-wrap" *ngFor="let item of fileList">
    <img [src]="getFileType(item)" alt="" />
    <p [title]="item.fileName + '.' + item.extensionName">
      <strong>{{ item.fileName }}.{{ item.extensionName }}</strong>
      <span>{{ getTime(item.creationTime) }}</span>
    </p>
    <i (click)="downloadFile(item)" nz-icon [nzIconfont]="'icon-download'" class="iconfont icon-download"></i>
  </div>
  <div *ngIf="fileList.length < pageInfo.total" class="more">
    <span (click)="getFileLists()">{{ 'Show More' | translate }}</span>
  </div>
  <div *ngIf="!fileList.length" class="no-data">
    <img src="assets/images/im/NoDate@2x.png" alt="" />
    <span>{{ 'No Documents' | translate }}</span>
  </div>
</section>
