@import '/node_modules/@co/theme/index';
@backgrund-primary-color: #212421;

@default-layout-prefix: ~'.co-portal';

@{default-layout-prefix} {
  &.__sider-logo {
    background-color: @backgrund-primary-color;
  }
}
.app-layout {
  height: 100%;
}
