<div class="qrcode-info">
    <ul>
        <li>
            <span>运单号</span>{{data.waybillNo}}
        </li>
        <li>
            <span>FBA号</span>{{data.FBANo}}
        </li>
        <li>
            <span>件数</span>{{data.number}}
        </li>
        <li>
            <span>国家</span>{{data.county}}
        </li>
        <li>
            <span>送货地址</span>{{data.shippingAddress}}
        </li>
        <li>
            <span>详细地址</span>{{data.address}}
        </li>
    </ul>
    <ul>
        <li>
            <span>客服</span>{{data.customer}}
        </li>
        <li>
            <span>联系电话</span>{{data.tel}}
        </li>
        <li>鹏城海物流有限公司</li>
    </ul>
</div>
