@import '~@co/theme/index';

:host {
  ::ng-deep {

    div {
      font-size  : 50px;
      color      : #e55354;
      height     : 100%;
      text-align : center;
      align-items: center;
    }
  }
}