<nz-modal
  [(nzVisible)]="isVisible"
  nzMaskClosable="false"
  nzTitle="新增订单"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWidth="70%"
>
  <form class="form-style" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">
    <div>
      <nz-form-item>
        <nz-form-label nzRequired nzFor="customer">客户</nz-form-label>
        <nz-form-control nzErrorTip="Please input your customer!">
          <co-customer-picker style="width: 100%;" formControlName="customerId" [coFilter]="customerFilter" (coBlur)="getOtherData()">
          </co-customer-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="transportationMode" nzRequired>业务类型</nz-form-label>
        <nz-form-control nzErrorTip="Please select your transportationMode!">
          <nz-select
            nzAllowClear
            nzShowSearch
            id="transportationMode"
            formControlName="transportationMode"
            (ngModelChange)="getChannelList()"
          >
            <nz-option *ngFor="let item of transportationModeList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nzFor="contactId">联系人</nz-form-label>
        <nz-form-control nzErrorTip="Please select your contact!">
          <nz-select nzAllowClear nzShowSearch id="contactId" formControlName="contactId">
            <nz-option *ngFor="let item of cantactList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="channel" nzRequired>渠道</nz-form-label>
        <nz-form-control nzErrorTip="Please select your channel!">
          <nz-select nzAllowClear nzShowSearch id="channel" formControlName="channel">
            <nz-option *ngFor="let item of channelList" [nzValue]="item.channelGroupStr" [nzLabel]="item.channelGroupStr"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div>
      <nz-form-item>
        <nz-form-label nzFor="serviceUserId" nzRequired>业务员</nz-form-label>
        <nz-form-control nzErrorTip="Please select your serviceUser!">
          <nz-select nzAllowClear nzShowSearch id="serviceUserId" formControlName="serviceUserId" (nzOnSearch)="getSaleUsers($event)">
            <nz-option *ngFor="let item of serviceUserList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="serviceCompanyId">操作口岸</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzShowSearch id="serviceCompanyId" formControlName="serviceCompanyId">
            <nz-option *ngFor="let item of serviceCompanyList" [nzValue]="item.id" [nzLabel]="item.displayNameLocalization"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nzFor="fbaPickUpMethodType">交货方式</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="fbaPickUpMethodType" (ngModelChange)="changeData()">
            <label nz-radio [nzValue]="1">自送货</label>
            <label nz-radio [nzValue]="2">由CITYOCEAN上门提货</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="originWarehouseId">交货仓库</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzShowSearch id="originWarehouseId" formControlName="originWarehouseId" (ngModelChange)="getData($event)">
            <nz-option *ngFor="let item of originWarehouseList" [nzValue]="item" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div *ngIf="validateForm.value.fbaPickUpMethodType === 2">
      <nz-form-item>
        <nz-form-label nzFor="originAddressId">交货位置</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzShowSearch id="originAddressId" formControlName="originAddressId">
            <nz-option *ngFor="let item of originAddressList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nzFor="agentCustomerId">承运人</nz-form-label>
        <nz-form-control>
          <nz-select
            nzAllowClear
            nzShowSearch
            id="agentCustomerId"
            formControlName="agentCustomerId"
            (nzOnSearch)="getAgentCustomerList($event)"
          >
            <nz-option *ngFor="let item of agentCustomerList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="gender">国家</nz-form-label>
        <input nz-input [(ngModel)]="country" formControlName="country" readonly />
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nzFor="carrierBookingNo">SO号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="carrierBookingNo" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="pickUpTimeRange">预估交货时间</nz-form-label>
        <nz-form-control>
          <datetime-range-picker formControlName="pickUpTimeRange"></datetime-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label nzFor="commodity" nzRequired>品名</nz-form-label>
        <nz-form-control nzErrorTip="Please input your commodity!">
          <co-commodity-picker formControlName="commodity" coMode="tags" style="width: 100%;" coValueMember="name"> </co-commodity-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <nz-divider></nz-divider>
  <nz-alert nzType="warning" [nzMessage]="tipsTemplate" class="tips-class"></nz-alert>
  <ng-template #tipsTemplate>
    <span>
      {{ 'Total ：件数(CTN):' }}
      <h4 class="text-color">{{ totalQuantity }}</h4>
    </span>
    <span>
      {{ ' 重量(KG):' }}
      <h4 class="text-color">
        {{ totalWeight }}
      </h4>
    </span>
    <span>
      {{ '体积(CBM):' }}
      <h4 class="text-color">
        {{ totalVolume }}
      </h4>
    </span>
  </ng-template>
  <div class="address-item" *ngFor="let item of addressList; let i = index">
    <div class="address-input">
      <span
        >送货地址<span *ngIf="addressList.length > 1">{{ i + 1 }}</span></span
      >
      <nz-select nzAllowClear nzShowSearch [(ngModel)]="item.address" (ngModelChange)="getTradeType(item.address, i)">
        <nz-option nzCustomContent *ngFor="let item of addressItemList" [nzValue]="item" [nzLabel]="item.unlocode">{{
          item.name +
            '(' +
            (item.city ? item.city + ',' : '') +
            (item.province ? item.province + ',' : '') +
            (item.country ? item.country : '') +
            ')'
        }}</nz-option>
      </nz-select>

      <button nz-button nzType="primary" (click)="addAddress(i)">新增地址</button>
      <button nz-button nzType="danger" (click)="deleteAddress(i)" *ngIf="addressList.length > 1 && i > 0">删除</button>
    </div>
    <nz-table nzShowPagination="false" [nzData]="addressList[i].tableList" nzTableLayout="fixed">
      <thead>
        <tr>
          <th *ngFor="let column of listOfColumn; let i = index">
            {{ column.title }}<span class="color-red margin-left-5" *ngIf="i === 2 || i === 4">*</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of addressList[i].tableList; let childIndex = index">
          <td><input nz-input [(ngModel)]="data.FBANo" /></td>
          <td><input nz-input [(ngModel)]="data.referenceId" /></td>
          <td>
            <nz-input-number [(ngModel)]="data.totalQuantity.value" [nzMin]="0" [nzStep]="1" (ngModelChange)="count()"></nz-input-number>
          </td>
          <td>
            <nz-input-number [(ngModel)]="data.totalWeight.value" [nzMin]="0" [nzStep]="1" (ngModelChange)="count()"></nz-input-number>
          </td>
          <td>
            <nz-input-number [(ngModel)]="data.totalVolume.value" [nzMin]="0" [nzStep]="1" (ngModelChange)="count()"></nz-input-number>
          </td>
          <td class="color-red">
            <span class="iconfont icon-Delete" style="font-size: 23px;" (click)="deleteLine(i, childIndex)"></span>
          </td>
        </tr>
        <tr>
          <td colspan="6" nzAlign="center" class="tr-center" (click)="addLine(i)">
            <i nz-icon nzIconfont="iconadd" class="alain-pro__menu-item-icon"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-modal>
