.form-style {
  div {
    overflow: hidden;
    nz-form-item {
      width: calc(50% - 12px);
      float: left;
    }
    nz-form-item:nth-of-type(1) {
      margin-right: 24px;
    }
  }
}
.address-item {
  margin-bottom: 24px;
  .address-input {
    display: flex;
    margin-bottom: 24px;
    height: 32px;
    line-height: 32px;
    span {
      margin-right: 24px;
      width: 60px;
      min-width: fit-content;
    }
    input {
      width: calc(100% - 324px);
    }
    button {
      width: 100px;
      margin-left: 20px;
    }
  }
  .tr-center {
    text-align: center;
    border: 1px dashed #1890ff !important;
    padding: 5px !important;
    color: #1890ff;
    cursor: pointer;
    i {
      color: #1890ff;
      margin-right: 5px;
      font-size: 14px !important;
      transform: scale(1.5);
    }
  }
}
nz-alert {
  margin-bottom: 24px;
}
