<div class="csp-header">
  <div class="csp-header-main">
    <div style="display: flex; align-items: center;">
      <i nz-icon nzIconfont="icon-TU" style="margin-right: 5px; color: #1890ff; font-size: 30px;"></i>
      <i nz-icon nzIconfont="icon-ZI" style="color: #fff; font-size: 120px;"></i>
    </div>

    <co-menu></co-menu>
  </div>

  <div class="csp-header-main" style="flex: 1; align-items: center; justify-content: flex-end; height: 100%;">
    <ng-template [ngIf]="true">
      <i
        nz-icon
        nzIconfont="icon-sousuo"
        style="margin-right: 16px; color: hsla(0, 0%, 100%, 0.45); font-size: 14px;"
        (click)="onHeaderInputClick($event)"
        *ngIf="!showSearch"
      ></i>
    </ng-template>

    <!--    <header-notifications class="header-avater"></header-notifications>-->

    <csp-langs></csp-langs>

    <ng-template [ngIf]="true">
      <div class="csp-user-header">
        <div class="alain-default__nav-item" nz-dropdown nzPlacement="bottomRight" [nzDropdownMenu]="userMenu">
          <nz-avatar
            style="width: 30px; height: 30px;"
            [nzSrc]="
              userInfo.profilePictureId
                ? serverUrl + '/Storage/File/GetDownLoadFile?fileId=' + userInfo.profilePictureId + '&Handler=image'
                : '/assets/images/avatar.png'
            "
          ></nz-avatar>
          <!-- <div>
            <div style="margin-left:10px">
              <strong>{{ user?.name }}</strong>
            </div>
            <div style="margin-left:10px;color:#999">{{ user?.emailAddress }}</div>
          </div> -->
          <div style="margin-left: 5px; color: #999;">
            <i nz-icon nzType="caret-down" nzTheme="outline"></i>
          </div>
        </div>

        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <div nz-menu class="csp-header-menu">
            <div nz-menu-item class="menu-item" style="min-height: 50px; margin: 8px; background: rgba(0, 0, 0, 0.05); border-radius: 2px;">
              <a routerLink="/csp/account/baseInfo">
                <div class="flex">
                  <span>
                    <strong>{{ user?.name }}</strong></span
                  >
                  <span class="tag-zy" [title]="position" *ngIf="position">{{ position ? position : null }}</span>
                </div>
                <div style="color: rgba(0, 0, 0, 0.65);">{{ user?.emailAddress }}</div>
              </a>
            </div>
            <div nz-menu-item class="menu-item">
              <a routerLink="/csp/account/baseInfo" style="color: rgba(0, 0, 0, 0.65);">
                <i nz-icon nzIconfont="icon-jibenshezhi"></i> {{ 'Basic settings' | translate }}
              </a>
            </div>

            <div nz-menu-item class="menu-item">
              <a routerLink="/csp/settings" style="color: rgba(0, 0, 0, 0.65);">
                <i nz-icon nzIconfont="icon-jibenshezhi"></i> {{ 'Notifications' | translate }}{{ 'settings' | translate }}
              </a>
            </div>
            <div nz-menu-item class="menu-item">
              <a routerLink="/csp/account/safeSetting" style="color: rgba(0, 0, 0, 0.65);">
                <i nz-icon nzIconfont="icon-anquanshezhi"></i> {{ 'Security Settings' | translate }}
              </a>
            </div>
            <div nz-menu-item class="menu-item" (click)="logout()" style="border-top: 1px solid rgba(0, 0, 0, 0.06);">
              <i nz-icon nzIconfont="icon-zhuxiao"></i>
              <span style="color: rgba(0, 0, 0, 0.65);">{{ 'Sign Out' | translate }}</span>
            </div>
          </div>
        </nz-dropdown-menu>
      </div>
    </ng-template>
    <ng-template [ngIf]="false">
      <a (click)="logout()">{{ 'Sign In' | translate }}</a>
    </ng-template>
  </div>
</div>
