<div style="height: 100%;">
  <div>运单号：FONB20060001</div>
  <form nzLayout="vertical" nz-form [formGroup]="validateForm" style="height: 100%; display: flex; flex-direction: column;">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customer">承运人</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customer">业务员</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customer">入仓时间</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customer">业务类型</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customer">渠道</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="customer">转运单号</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customer">出货口岸</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="customer">国家</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="customer">SO号</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customer">客户</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="customer"></nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="customer">报关行</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="customer">清关行</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="customer">联系人</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="customer">交货方式</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <nz-radio-group formControlName="customerId">
              <label nz-radio nzValue="自送货">自送货</label>
              <label nz-radio nzValue="由CITYOCEAN上门提货">由CITYOCEAN上门提货</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="customer">交货仓库</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div
        nz-col
        [nzSpan]="12"
        style="background-color: #f2f2f2; border-radius: 5px; justify-content: center; display: flex; flex-direction: column;"
      >
        <nz-form-item>
          <nz-form-label nzFor="customer">FBA运输方式</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="customer">备注</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <textarea
              nz-input
              placeholder="Controlled autosize"
              formControlName="customerId"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12" style="margin-top: 24px;">
        <nz-form-item>
          <nz-form-label nzFor="customer">预估交货时间</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="customer">品名</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div
        nz-col
        [nzSpan]="12"
        style="
          margin-top: 24px;
          background-color: #f2f2f2;
          border-radius: 5px;
          justify-content: center;
          display: flex;
          flex-direction: column;
        "
      >
        <nz-form-item>
          <nz-form-label nzFor="customer">快递号</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="customer">备注</nz-form-label>
          <nz-form-control nzErrorTip="Please input your customer!">
            <input nz-input formControlName="customerId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div style="padding: 24px 0; width: 100%;">
        <nz-tag nzColor="success" style="width: 100%;">Total ：件数(CTN) 24 重量(KG) 747.7 体积(CBM)4.15</nz-tag>
      </div>

      <div formArrayName="addressList" class="address-list">
        <div
          nz-row
          [nzGutter]="24"
          *ngFor="let form of $any(validateForm).controls.addressList.controls; let i = index"
          [formGroupName]="i"
        >
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label nzFor="customer">送货地址</nz-form-label>
              <nz-form-control nzErrorTip="Please input your customer!">
                <textarea
                  nz-input
                  placeholder="Controlled autosize"
                  formControlName="address"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- 地址中的表格 -->
          <div formArrayName="tables" nz-col [nzSpan]="24" class="table-list">
            <div
              class="address-tables"
              *ngFor="let form2 of $any(validateForm).controls.addressList.controls[i].controls.tables.controls; let z = index"
              [formGroupName]="z"
            >
              <nz-form-item>
                <nz-form-label nzFor="customer" *ngIf="z === 0">FBA号</nz-form-label>
                <nz-form-control nzErrorTip="Please input your customer!">
                  <input nz-input formControlName="a" placeholder="{{ 'Please enter' | translate }}" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="customer" *ngIf="z === 0">Reference ID</nz-form-label>
                <nz-form-control nzErrorTip="Please input your customer!">
                  <input nz-input formControlName="b" placeholder="{{ 'Please enter' | translate }}" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="customer" *ngIf="z === 0">件数</nz-form-label>
                <nz-form-control nzErrorTip="Please input your customer!">
                  <input nz-input formControlName="b" placeholder="{{ 'Please enter' | translate }}" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="customer" *ngIf="z === 0">重量</nz-form-label>
                <nz-form-control nzErrorTip="Please input your customer!">
                  <input nz-input formControlName="b" placeholder="{{ 'Please enter' | translate }}" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired nzFor="customer" *ngIf="z === 0">体积</nz-form-label>
                <nz-form-control nzErrorTip="Please input your customer!">
                  <input nz-input formControlName="b" placeholder="{{ 'Please enter' | translate }}" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="customer" *ngIf="z === 0">操作</nz-form-label>
                <nz-form-control>
                  <div class="setting">
                    <i
                      nz-icon
                      nzType="plus"
                      nzTheme="outline"
                      (click)="addTablesRow($any(validateForm).controls.addressList.controls[i])"
                    ></i>
                    <i nz-icon nzType="delete" nzTheme="outline" (click)="removeTablesRow(i, z)" *ngIf="z !== 0"></i>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
