<div style="height: 100%;">
  <div class="orderNo">{{ 'Waybill number' | translate }}：FONB20060001</div>
  <form nzLayout="vertical" nz-form [formGroup]="validateForm" style="height: 100%; display: flex; flex-direction: column;">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="agentCustomerId">{{ 'Carrier' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select
              nzAllowClear
              nzShowSearch
              formControlName="agentCustomerId"
              (nzOnSearch)="getCustomerList($event)"
              (ngModelChange)="bindCustomerData($event)"
              [nzPlaceHolder]="'Please enter' | translate"
            >
              <nz-option *ngFor="let item of agentCustomerList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="serviceUserId">{{ 'Salesman' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select nzShowSearch nzAllowClear formControlName="serviceUserId" [nzPlaceHolder]="'Please enter' | translate">
              <nz-option *ngFor="let item of saleUserList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="cargoPutAwayDate">{{ 'Warehouse time' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-date-picker formControlName="cargoPutAwayDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="transportationMode">{{ 'Business type' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select
              nzShowSearch
              nzAllowClear
              formControlName="transportationMode"
              (ngModelChange)="getChannelList()"
              [nzPlaceHolder]="'Please enter' | translate"
            >
              <nz-option [nzValue]="1" nzLabel="{{ 'Ocean' | translate }}"></nz-option>
              <nz-option [nzValue]="2" nzLabel="{{ 'Air' | translate }}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="channel">{{ 'Channel' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select nzAllowClear nzShowSearch nzAllowClear formControlName="channel" [nzPlaceHolder]="'Please enter' | translate">
              <nz-option *ngFor="let item of channelList" [nzValue]="item.channelGroupStr" [nzLabel]="item.channelGroupStr"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="shipmentNo">{{ 'Transport NO' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input formControlName="shipmentNo" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="serviceCompanyId">{{ 'Port of shipment' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select nzShowSearch nzAllowClear formControlName="serviceCompanyId" [nzPlaceHolder]="'Please enter' | translate">
              <nz-option *ngFor="let item of serviceCompanyList" [nzValue]="item.id" [nzLabel]="item.displayNameLocalization"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label>{{ 'Country' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input
              nz-input
              formControlName="country"
              placeholder="{{ 'Input address binding' | translate }}"
              readonly
              style="background: #f2f2f2;"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="carrierBookingNo">{{ 'SO number' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input formControlName="carrierBookingNo" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="customerId">{{ 'Customer' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select
              nzAllowClear
              nzShowSearch
              formControlName="customerId"
              (nzOnSearch)="getCustomerList($event)"
              (ngModelChange)="bindCustomerData($event)"
              [nzPlaceHolder]="'Please enter' | translate"
            >
              <nz-option *ngFor="let item of customerList?.items" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label>&nbsp;</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input
              nz-input
              formControlName="customerType"
              placeholder="{{ 'Please enter' | translate }}"
              readonly
              style="background: #f2f2f2;"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="customsCustomerId">{{ 'Customs broker' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select
              nzShowSearch
              nzAllowClear
              formControlName="customsCustomerId"
              [nzServerSearch]="true"
              [nzPlaceHolder]="'Please enter' | translate"
              (nzOnSearch)="onSearchCustomerList($event)"
            >
              <nz-option
                *ngFor="let item of customsCustomerList"
                [nzDisabled]="item.id === validateForm.get('customsClearanceCustomerId').value"
                [nzValue]="item.id"
                [nzLabel]="item.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="customsClearanceCustomerId">{{ 'Customs broker' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select
              nzShowSearch
              nzAllowClear
              [nzServerSearch]="true"
              formControlName="customsClearanceCustomerId"
              [nzPlaceHolder]="'Please enter' | translate"
              (nzOnSearch)="onSearchCustomerList($event)"
            >
              <nz-option
                *ngFor="let item of customsCustomerList"
                [nzDisabled]="item.id === validateForm.get('customsCustomerId').value"
                [nzValue]="item.id"
                [nzLabel]="item.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="contactId">{{ 'Contact person' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select nzAllowClear nzShowSearch nzAllowClear formControlName="contactId" [nzPlaceHolder]="'Please enter' | translate">
              <nz-option *ngFor="let item of cantactList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="fbaPickUpMethodType">{{ 'Delivery Method' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-radio-group formControlName="fbaPickUpMethodType" (ngModelChange)="changeFbaPickUpMethodType($event)">
              <label nz-radio [nzValue]="1">{{ 'Self-delivery' | translate }}</label>
              <label nz-radio [nzValue]="2">{{ 'Picked up by CITYOCEAN' | translate }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="validateForm.get('fbaPickUpMethodType').value === 2">
          <nz-form-label nzFor="originWarehouseId">{{ 'Delivery Method' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input formControlName="originWarehouseId" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="originAddressId">{{ 'Delivery warehouse' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select nzAllowClear nzShowSearch id="gender" [nzPlaceHolder]="'Please enter' | translate" formControlName="originAddressId">
              <nz-option *ngFor="let item of destinationWarehouseList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div
        nz-col
        [nzSpan]="12"
        style="background-color: #00000004; border-radius: 5px; justify-content: center; display: flex; flex-direction: column;"
      >
        <nz-form-item>
          <nz-form-label nzFor="fbaDeliveryType">{{ 'FBA shipping method' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <nz-select nzShowSearch nzAllowClear formControlName="fbaDeliveryType" [nzPlaceHolder]="'Please enter' | translate">
              <nz-option [nzValue]="0" [nzLabel]="'FCL direct delivery' | translate"></nz-option>
              <nz-option [nzValue]="1" [nzLabel]="'Delivery after unboxing' | translate"></nz-option>
              <nz-option [nzValue]="2" [nzLabel]="'Customer mention' | translate"></nz-option>
              <nz-option [nzValue]="3" [nzLabel]="'Temporary warehouse' | translate"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="fbaDeliveryTypeRemark">{{ 'Remark' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <textarea
              nz-input
              placeholder="Controlled autosize"
              formControlName="fbaDeliveryTypeRemark"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12" style="margin-top: 24px;">
        <nz-form-item>
          <nz-form-label nzFor="deliveryDate">{{ 'Estimated delivery time' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <datetime-range-picker formControlName="deliveryDate"></datetime-range-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="commodity">{{ 'Name' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input formControlName="commodity" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div
        nz-col
        [nzSpan]="12"
        style="
          margin-top: 24px;
          background-color: #00000004;
          border-radius: 5px;
          justify-content: center;
          display: flex;
          flex-direction: column;
        "
      >
        <nz-form-item>
          <nz-form-label nzFor="expressNo">{{ 'Courier number' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input formControlName="expressNo" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="expressNoRemark">{{ 'remark' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input formControlName="expressNoRemark" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div style="padding: 24px 0; width: 100%;">
        <nz-tag nzColor="processing" style="width: 100%; padding: 12px; border-radius: 5px;"
          >{{ 'Total' | translate }} ：件数(CTN) 24 重量(KG) 747.7 体积(CBM)4.15</nz-tag
        >
      </div>

      <div formArrayName="lineItems" class="address-list">
        <div
          nz-row
          [nzGutter]="24"
          *ngFor="let form of $any(validateForm).controls.lineItems.controls; let i = index"
          [formGroupName]="i"
          class="address-item"
        >
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label nzFor="customer" class="address-add"
                ><h3>{{ 'Delivery address' | translate }}{{ i + 1 }}</h3>
                <div>
                  <button
                    nz-button
                    nzType="danger"
                    (click)="removeAddressListRow(i)"
                    *ngIf="$any(validateForm).controls.lineItems.value.length > 1"
                  >
                    <i nz-icon nzType="delete" nzTheme="outline"></i>{{ 'Delete' | translate }}
                  </button>

                  <button nz-button nzType="primary" (click)="addAddressListRow($event)">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>{{ 'Add' | translate }}
                  </button>
                </div>
              </nz-form-label>
              <nz-form-control [nzErrorTip]="'Please enter' | translate">
                <nz-select
                  nzAllowClear
                  nzShowSearch
                  formControlName="address"
                  [nzPlaceHolder]="'Please enter' | translate"
                  (ngModelChange)="addressChanged($event, i)"
                >
                  <nz-option nzCustomContent *ngFor="let item of addressList" [nzValue]="item" [nzLabel]="item.unlocode">{{
                    item.name +
                      '(' +
                      (item.city ? item.city + ',' : '') +
                      (item.province ? item.province + ',' : '') +
                      (item.country ? item.country : '') +
                      ')'
                  }}</nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- 地址中的表格 -->
          <div formArrayName="shipmentLineItem" nz-col [nzSpan]="24" class="table-list">
            <nz-table #tables nzShowPagination="false" nzSize="small" [nzData]="[{}]">
              <thead>
                <tr>
                  <th>
                    <nz-form-label>{{ 'FBA number' | translate }}</nz-form-label>
                  </th>
                  <th>
                    <nz-form-label>{{ 'Reference ID' | translate }}</nz-form-label>
                  </th>
                  <th>
                    <nz-form-label nzRequired>{{ 'Pieces' | translate }}</nz-form-label>
                  </th>
                  <th>
                    <nz-form-label nzRequired>{{ 'weight' | translate }}</nz-form-label>
                  </th>
                  <th>
                    <nz-form-label nzRequired>{{ 'volume' | translate }}</nz-form-label>
                  </th>
                  <th>
                    <nz-form-label>{{ 'operating' | translate }}</nz-form-label>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let form2 of $any(validateForm).controls.lineItems.controls[i].controls.shipmentLineItem.controls; let z = index"
                  [formGroupName]="z"
                >
                  <td>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="'Please enter' | translate">
                        <input nz-input formControlName="fbaNo" placeholder="{{ 'Please enter' | translate }}" />
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="'Please enter' | translate">
                        <input nz-input formControlName="referenceId" placeholder="{{ 'Please enter' | translate }}" />
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="'Please enter' | translate">
                        <nz-input-number
                          [nzMin]="0"
                          [nzStep]="1"
                          formControlName="totalQuantity"
                          nzPlaceHolder="{{ 'Please enter' | translate }}"
                        ></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="'Please enter' | translate">
                        <nz-input-number
                          [nzMin]="0"
                          [nzStep]="1"
                          formControlName="totalWeight"
                          nzPlaceHolder="{{ 'Please enter' | translate }}"
                        ></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="'Please enter' | translate">
                        <nz-input-number
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          formControlName="totalVolume"
                          nzPlaceHolder="{{ 'Please enter' | translate }}"
                        ></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control>
                        <div class="setting">
                          <i
                            nz-icon
                            nzType="delete"
                            nzTheme="outline"
                            (click)="removeTablesRow(i, z)"
                            *ngIf="$any(validateForm).controls.lineItems.controls[i].controls.shipmentLineItem.value.length > 1"
                          ></i>
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <div class="table-add" (click)="addTablesRow($any(validateForm).controls.lineItems.controls[i])">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              {{ 'Add' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
