<div class="forgot-password">
    <div class="small-logo">
        <img src="/assets/images/small_logo.png">
    </div>
    <div class="forgot-password__title">{{'Reset Password'| translate}}</div>
    <!-- <div class="forgot-password__input-container"> -->

    <div class="ipt-box">

        <input nz-input placeholder="E-mail" #emailVali="ngModel" [(ngModel)]="email" class="forgot-password__input" required />
       <div *ngIf=" formCheck || (emailVali.invalid && (emailVali.dirty || emailVali.touched) )" class="error-info">{{'E-mail is required'| translate}}.</div>
    </div>
    <div style="margin-bottom: 16px;">
        <button nz-button class="forgot-password__button"  [nzType]="'primary'" nzBlock (click)="requestLink()">{{'Request Password Link' | translate}}</button>
    </div>
    <div>
        <a (click)="backToSignIn()" style="color:rgba(97,152,255,1);">{{'Back to Sign in' | translate}}</a>
    </div>
</div>
