<co-page-layout>
  <co-toolbar>
    <co-toolbar-item><button nz-button [nzType]="'primary'">申请订舱</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">生成交仓单</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">生成唛头</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">填写进度</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">分配代理</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">导出</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">刷新</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">作废</button></co-toolbar-item>
    <co-toolbar-item><button nz-button nzType="default">取消作废</button></co-toolbar-item>
  </co-toolbar>

  <co-st #st [data]="listOfData" [columns]="columns" [showFilters]="false"></co-st>
</co-page-layout>
