<!--Search-->
<default-layout-search class="hidden-xs"></default-layout-search>
<!--Link-->
<!-- <a nz-tooltip nzTooltipTitle="使用文档" nzTooltipPlacement="bottom" class="hidden-xs" target="_blank"
  href="https://e.ng-alain.com/theme/pro" rel="noopener noreferrer" class="co-portal__header-item">
  <i nz-icon nzType="question-circle"></i>
</a> -->
<!--Quick chat status-->
<!-- <quick-chat-status class="hidden-xs"></quick-chat-status> -->
<!--Notify-->
<default-layout-notify class="hidden-xs"></default-layout-notify>
<!--User-->
<!-- <default-layout-user></default-layout-user> -->
<!--Languages-->
<!-- <pro-langs></pro-langs> -->
