<div class="main-container">
  <nz-tabset>
    <nz-tab nzTitle="预报">
      <div class="button-list">
        <button nz-button [nzType]="'primary'" (click)="showModal(1)">新增订单</button>
        <button nz-button nzType="default">生成入仓单</button>
        <button nz-button nzType="default">生成唛头</button>
        <button nz-button nzType="default" (click)="showModal(2)">确认入仓</button>
        <button nz-button nzType="default">导出</button>
        <button nz-button nzType="default">刷新</button>
      </div>
      <div class="table-style">
        <st #st [data]="listOfData" [columns]="columns" [showFilters]="false"></st>
      </div>
      <app-add-order [isVisible]="isAddVisible"></app-add-order>
    </nz-tab>
    <nz-tab nzTitle="已受理"> </nz-tab>
  </nz-tabset>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="确认入仓" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <nz-date-picker [(ngModel)]="date" [nzFormat]="'yyyy/MM/dd'" style="width: 80%;"></nz-date-picker>
  </nz-modal>
</div>

<nz-modal
        [(nzVisible)]="openBookings"
        nzTitle="{{ 'creat booking space' | translate }}"
        (nzOnCancel)="openBookings = false"
        [nzFooter]="footer"
>
  <div class="booking-time-box" style="text-align: center;height: 100px;padding-top: 30px">
    <form  nz-form [formGroup]="validateForm" nzLayout="vertical" style="margin: 0 0 0 24px;">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select date!">
          {{ 'booking space date' | translate }} <span style="color:#ff4500;margin-right:20px">*</span>
          <nz-date-picker
                  formControlName="creatDate"
                  nzPlaceHolder="{{ 'Please select' | translate }}">
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <ng-template #footer>
    <button nz-button [nzType]="'default'" (click)="openBookings=false" style="width: 150px;">
      {{ 'cancle' | translate }}
    </button>
    <button nz-button [nzType]="'primary'" (click)="handleOk()" style="width: 150px;" [nzLoading]="loading">
      {{ 'Submit' | translate }}
    </button>
  </ng-template>
</nz-modal>