<div class="main-container" style="overflow-x: auto;">
  <nz-tabset [nzTabPosition]="'top'" [nzAnimated]="false">
    <nz-tab nzTitle="预报">
      <ng-template nz-tab>
        <div class="button-list">
          <button nz-button [nzType]="'primary'" (click)="showModal(1)">新增订单</button>
          <button nz-button nzType="default">生成入仓单</button>
          <button nz-button nzType="default">生成唛头</button>
          <button nz-button nzType="default" [disabled]="listSelectIds.length<=0"
            (click)="enterWareHouse()">确认入仓</button>
          <button nz-button nzType="default">导出</button>
          <button nz-button nzType="default" (click)="refresh()">刷新</button>
        </div>
        <div class="table-style">
          <co-st #st [data]="listOfData" [columns]="columns" [scroll]="{ x: '1200px' }" [showFilters]="false"
            [total]="preListTotal" [page]="{ front: false }" (change)="checkChange($event)">
          </co-st>
        </div>
        <app-add-order [isVisible]="isAddVisible"></app-add-order>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="已受理">
      <ng-template nz-tab>
        <app-order-accept-list></app-order-accept-list>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="确认入仓" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <nz-date-picker [(ngModel)]="date" [nzFormat]="' yyyy/MM/dd'" style="width: 80%;">
    </nz-date-picker>
  </nz-modal>
</div>



<!-- 确认入仓弹窗 -->
<enter-warehouse-modal [ids]="listSelectIds" (successCallBack)="refresh()"></enter-warehouse-modal>