@{co-portal-prefix} {

  &-menu {
    display: block;

    &__wrap {
      display: flex;
      flex-direction: column;
      padding-left: 0;

      .ant-divider-horizontal {
        top: 0;
        width: 160px;
        min-width: 24px;
        margin: 0 20px;
        background-color: #585858;
      }
    }

    &__item {
      height: 36px;
      margin: 4px 20px;
      padding: 0 8px;
      font-size: 12px;
      line-height: 36px;
      list-style: none;
      border-radius: 4px;
      cursor: pointer;

      &-active {
        background-color: #1890FFFF;
      }

      >a {
        display: block;
        color: #FFFFFFD9;
        cursor: pointer;
      }

      &-icon {
        font-size: 14px;
      }

      &-arrow {
        float: right;
        margin-top: 10px;
        font-size: 14px;
      }


      &-title {
        display: inline-block;
        margin-left: 8px;
      }

      &-main {
        margin-bottom: 16px;
      }

      &--disabled {
        pointer-events: none;
      }
    }


    &__submenu {
      width: 100%;
      margin-bottom: 4px;
      padding: 8px 16px;
      color: #9F9C9F;
      background-color: #2E2B2E;

      &-category {
        width: 200px;
        background-color: #39373A;

        &-item {
          height: 56px;
          margin: 0;
          padding: 0 24px;
          color: #FFFFFFD9;
          font-size: 12px;
          line-height: 56px;
          list-style: none;
          cursor: pointer;



          &:hover,
          &-actived {
            color: #2F6E9B;
            background-color: #2E2B2E;
          }

          &-icon {
            font-size: 14px;
          }

          &-arrow {
            float: right;
            margin: 20px 4px;
            color: #6F6F6F;
            font-size: 14px;
          }

          &-title {
            display: inline-block;
            margin-left: 8px;
          }
        }

        .ant-divider-horizontal {
          width: 120px;
          min-width: 24px;
          margin: auto;
          background-color: #585858;
        }
      }

      &-group {
        width: 120px;
        height: 32px;
        color: #6F6F6F;
        font-size: 14px;
        line-height: 32px;

        >i {
          display: inline-block;
          width: 4px;
          height: 14px;
          margin-right: 8px;
          margin-bottom: -2px;
          background-color: #1B8EFF;
          border-radius: 2px;
        }
      }

      &-item {
        // width: 120px;
        height: 32px;
        padding-left: 12px;
        font-size: 12px;
        line-height: 32px;
        cursor: pointer;
        break-inside: avoid;

        &:hover {
          >a {
            display: block;
            color: #2F6E9B;
          }
        }

        >a {
          color: #FFFFFFD9;
        }
      }

      &-overlay {
        background-color: #39373A;

        >.ant-popover {
          height: 100%;

          >.ant-popover-content {
            height: 100%;

            >.ant-popover-inner {
              height: 100%;

              >div {
                height: 100%;

                >.ant-popover-inner-content {
                  height: 100%;

                }
              }
            }
          }
        }

        .ant-popover-inner {
          background-color: #39373A;
        }

        .ant-popover-inner-content {
          padding: 0 !important;
        }
      }

      .ant-divider-horizontal {
        // width: 120px;
        min-width: 24px;
        margin: 8px 0;
        background-color: #585858;
      }
    }
  }
}


// 当缩进时隐藏站点名称
@{aside-collapsed-prefix} {

  @{co-portal-prefix}-menu {
    &__wrap {
      .ant-divider-horizontal {
        width: 24px;
        margin: 0 auto;
      }
    }

    &__item {
      height: auto;
      margin: 0;
      padding: 16px 8px;
      line-height: 24px !important;
      border-radius: 0;

      &-active {
        background-color: #383838;

        >a {
          color: #1890FFFF;
        }
      }

      >a {
        text-align: center;
      }

      &-arrow {
        display: none;
      }

      &-icon {
        font-size: 20px;
      }

      &-main {
        margin-bottom: 0;
      }

      &-title {
        display: none;
      }
    }
  }
}
