@co-menu-fontsize: 12px;

@co-menu-primary-color: #1890ffff;
@co-menu-default-color: #f0f0f0;
@co-menu-secondary-color: #2e2b2e;
@co-menu-three-color: #6f6f6f;

@co-menu-divider-color: #585858;
@co-menu-divider-actived-color: @co-menu-default-color;

@co-menu-item-height: 52px;
@co-menu-item-main-height: 36px;
@co-menu-item-color: #ffffffd9;
@co-menu-item-actived-color: @co-menu-primary-color;

@co-menu-submenu-bg: @co-menu-secondary-color;
@co-menu-submenu-category-bg: #39373a;
@co-menu-submenu-category-actived-bg: @co-menu-secondary-color;
@co-menu-submenu-group-color: #6f6f6f;

@co-menu-submenu-color: #9f9c9f;
@co-menu-submenu-item-color: #ffffffd9;
@co-menu-submenu-item-actived-color: @co-menu-primary-color;
@co-menu-submenu-item-bg: #39373a;
@co-menu-submenu-item-actived-bg: @co-menu-secondary-color;

@co-menu-submenu-group-height: 32px;
@co-menu-subitem-height: 32px;
@co-menu-subitem-bg: #9f9c9f;


@{co-portal-prefix} {
  &-menu {
    display: block;

    &__wrap {
      display: flex;
      flex-direction: column;
      padding: 0 0 4px 0;

      .divider {
        top: 0;
        width: 160px;
        min-width: 24px;
        margin: 0 20px;
        background-color: @co-menu-divider-color;
      }
    }

    &__item {
      height: @co-menu-item-height;
      margin: 0 20px;
      padding: 0 8px;
      font-size: @co-menu-fontsize;
      line-height: @co-menu-item-height;
      list-style: none;
      border-radius: 4px;
      cursor: pointer;

      &-main {
        height: @co-menu-item-main-height;
        margin: 0 20px 12px;
        font-size: @co-menu-fontsize;
        line-height: @co-menu-item-main-height;
        background-color: #1890ffff;
      }

      &-main:hover {
        >@{co-portal-prefix}-menu__item-inner {
          color: @co-menu-item-color  !important;
        }

        @{co-portal-prefix}-menu__item-icon {
          color: @co-menu-item-color  !important;
        }
      }

      &-inner {
        display: block;
        color: @co-menu-item-color;
      }

      &-icon {
        font-size: 14px;
        opacity: 0.6;
      }

      &-arrow {
        float: right;
        margin-top: 12px;
        font-size: 14px;
      }

      &-title {
        display: inline-block;
        margin-left: 8px;
      }

      &:hover {
        @{co-portal-prefix}-menu__item-inner {
          color: @co-menu-item-actived-color;
        }

        @{co-portal-prefix}-menu__item-icon {
          opacity: 1;
        }
      }

      &--actived {
        background-color: @co-menu-default-color;

        @{co-portal-prefix}-menu__item-inner {
          color: @co-menu-item-actived-color  !important;
        }

        @{co-portal-prefix}-menu__item-icon {
          opacity: 1;
        }

        .divider {
          background-color: @co-menu-divider-actived-color  !important;
        }
      }

      &--disabled {
        pointer-events: none;
      }
    }

    &__submenu {
      width: 100%;
      margin-bottom: 4px;
      padding: 8px 16px;
      color: @co-menu-submenu-color;
      background-color: @co-menu-submenu-bg;

      &-category {
        width: 200px;
        background-color: @co-menu-submenu-category-bg;

        &-item {
          height: @co-menu-item-height;
          margin: 0;
          padding: 0 24px;
          color: @co-menu-submenu-item-color;
          font-size: 12px;
          line-height: @co-menu-item-height;
          list-style: none;
          cursor: pointer;

          &-icon {
            font-size: 14px;
            opacity: 0.6;
          }

          &-arrow {
            float: right;
            margin: 20px 4px;
            color: @co-menu-three-color;
            font-size: 14px;
          }

          &-title {
            display: inline-block;
            margin-left: 8px;
          }

          &:hover,
          &--actived {
            color: @co-menu-submenu-item-actived-color;
            background-color: @co-menu-submenu-category-actived-bg;
          }
        }

        .divider {
          top: 0;
          width: 120px;
          min-width: 24px;
          margin: auto;
          background-color: @co-menu-divider-color;
        }
      }

      &-group {
        width: 120px;
        height: @co-menu-subitem-height;
        color: @co-menu-submenu-group-color;
        font-size: 14px;
        line-height: @co-menu-subitem-height;

        &-icon {
          display: inline-block;
          width: 4px;
          height: 14px;
          margin-right: 8px;
          margin-bottom: -2px;
          background-color: @co-menu-primary-color;
          border-radius: 2px;
        }
      }

      &-item {
        height: @co-menu-subitem-height;
        padding-left: 12px;
        font-size: 12px;
        line-height: @co-menu-subitem-height;
        cursor: pointer;
        break-inside: avoid;

        &:hover {
          >a {
            display: block;
            color: @co-menu-submenu-item-actived-color;
          }
        }

        &-inner {
          color: @co-menu-item-color;
        }
      }

      &-overlay {
        background-color: #39373a;

        >.ant-popover {
          height: 100%;

          >.ant-popover-content {
            height: 100%;

            >.ant-popover-inner {
              height: 100%;

              >div {
                height: 100%;

                >.ant-popover-inner-content {
                  height: 100%;
                }
              }
            }
          }
        }

        .ant-popover-inner {
          background-color: #39373a;
        }

        .ant-popover-inner-content {
          padding: 0 !important;
        }
      }

      .divider {
        width: 120px;
        min-width: 24px;
        margin: 8px 0 8px 8px;
        background-color: @co-menu-divider-color;
      }
    }
  }
}

// 当缩进时隐藏站点名称
@{aside-collapsed-prefix} {
  @{co-portal-prefix}-menu {
    &__wrap {
      .divider {
        width: 24px;
        margin: 0 auto;
      }
    }


    &__item {
      height: auto;
      margin: 0;
      padding: 16px 8px;
      line-height: 24px !important;
      border-radius: 0;

      &-main {
        margin-bottom: 0;
        font-size: 20px;
        background-color: transparent;

        @{co-portal-prefix}-menu__item-icon:hover {
          color: @co-menu-item-actived-color  !important;
          opacity: 1;
        }
      }


      &-inner {
        line-height: 1em;
        text-align: center;
      }

      &-arrow {
        display: none;
      }

      &-icon {
        color: @co-menu-default-color;
        font-size: 20px;
        opacity: 0.6;
      }

      &-title {
        display: none;
      }

      &:hover {
        @{co-portal-prefix}-menu__item-icon {
          color: @co-menu-item-actived-color  !important;
          opacity: 1;
        }
      }

      &--actived {
        background-color: #383838;

        @{co-portal-prefix}-menu__item-icon {
          color: @co-menu-item-actived-color  !important;
          opacity: 1 !important;
        }

        .divider {
          background-color: @co-menu-divider-color  !important;
        }
      }
    }

    &__tooltip-overlay-hide {
      display: none;
    }
  }
}
