<!--底部栏-->
<ul class="co-portal__menu-wrap" #menu1>
  <li class="co-portal__menu-item co-portal__menu-item-active co-portal__menu-item-main">
    <a co-submenu #submenu [nzContent]="contentTemplate1" [coPopoverOrigin]="menu1" [nzNoAnimation]="true"
      coPopoverTrigger="click" coPopoverPlacement="rightTop">
      <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-item-icon"></i>
      <span *ngIf="!pro.onlyIcon" class="co-portal__menu-item-title-text">
        {{ 'Menu' | translate }}
      </span>
      <i nz-icon nzType="right" class="co-portal__menu-item-arrow"></i>
    </a>
  </li>
  <ng-template #contentTemplate1>
    <div nz-row>
      <div nz-col [nzSpan]="12" class="co-portal__menu-category">
        <div class="co-portal__menu-categoryitem">
          <i nz-icon nzIconfont="iconsetting" class="co-categoryitem-categoryitem-icon"></i>
          <span *ngIf="!pro.onlyIcon" class="co-portal__menu-categoryitem-title-text">
            FCM
          </span>
          <i nz-icon nzType="right" class="co-portal__menu-categoryitem-arrow"></i>
        </div>
        <nz-divider></nz-divider>
        <div class="co-portal__menu-categoryitem">
          <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-categoryitem-icon"></i>
          <span *ngIf="!pro.onlyIcon" class="co-portal__menu-categoryitem-title-text">
            FRM
          </span>
          <i nz-icon nzType="right" class="co-portal__menu-categoryitem-arrow"></i>
        </div>
        <nz-divider></nz-divider>
        <div class="co-portal__menu-categoryitem">
          <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-categoryitem-icon"></i>
          <span *ngIf="!pro.onlyIcon" class="co-portal__menu-categoryitem-title-text">
            CSP
          </span>
          <i nz-icon nzType="right" class="co-portal__menu-categoryitem-arrow"></i>
        </div>
        <nz-divider></nz-divider>
      </div>
      <div nz-col [nzSpan]="12" class="co-portal__submenu">
        <h3 class="co-portal__submenu-group"><i></i>组1
        </h3>
        <div class="co-portal__submenu-item">
          Content2
        </div>
        <div class="co-portal__submenu-item">
          Content3
        </div>
        <div class="co-portal__submenu-item">
          Content4
        </div>
        <div class="co-portal__submenu-item">
          Content5
        </div>
        <div class="co-portal__submenu-item">
          Content6
        </div>
        <div class="co-portal__submenu-item">
          Content7
        </div>
        <nz-divider></nz-divider>

        <h3 class="co-portal__submenu-group"><i></i>组1
        </h3>
        <div class="co-portal__submenu-item">
          Content1
        </div>
        <div class="co-portal__submenu-item">
          Content2
        </div>
        <div class="co-portal__submenu-item">
          Content3
        </div>
        <div class="co-portal__submenu-item">
          Content4
        </div>
        <div class="co-portal__submenu-item">
          Content5
        </div>
        <div class="co-portal__submenu-item">
          Content6
        </div>
        <div class="co-portal__submenu-item">
          Content7
        </div>
        <nz-divider></nz-divider>

        <h3 class="co-portal__submenu-group"><i></i>组1
        </h3>
        <div class="co-portal__submenu-item">
          Content1
        </div>
        <div class="co-portal__submenu-item">
          Content2
        </div>
        <div class="co-portal__submenu-item">
          Content3
        </div>
        <div class="co-portal__submenu-item">
          Content4
        </div>
        <div class="co-portal__submenu-item">
          Content5
        </div>
        <div class="co-portal__submenu-item">
          Content6
        </div>
        <div class="co-portal__submenu-item">
          Content7
        </div>
        <div class="co-portal__submenu-item">
          Content7
        </div>
        <div class="co-portal__submenu-item">
          Content7
        </div>
        <nz-divider></nz-divider>

        <!-- <h3 class="co-portal__submenu-group"><i></i>组1
        </h3>
        <div class="co-portal__submenu-item">
          Content1
        </div>
        <div class="co-portal__submenu-item">
          Content2
        </div>
        <div class="co-portal__submenu-item">
          Content3
        </div>
        <div class="co-portal__submenu-item">
          Content4
        </div>
        <div class="co-portal__submenu-item">
          Content5
        </div>
        <div class="co-portal__submenu-item">
          Content6
        </div>
        <div class="co-portal__submenu-item">
          Content7
        </div> -->
      </div>
    </div>

  </ng-template>


  <!-- <nz-divider></nz-divider> -->

  <!-- <div *ngFor="let item of menus; let i = index">
    <li class="co-portal__menu-item">
      <a nz-popover #submenu [nzPopoverContent]="contentTemplate" [nzPopoverOrigin]="menu1" nzPopoverTrigger="click"
        nzOverlayClassName="co-portal__menu-level1" nzPopoverPlacement="rightTop" (click)="onShowSubmenu()"
        [routerLink]="item._url">
        <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-item-icon"></i>
        <i nz-icon nziconfont="iconsetting" class="co-portal__menu-item-icon"></i>
        <span class="co-portal__menu-item-title-text">
          {{ item.displayName }}
        </span>
        <i nz-icon nzType="right" class="co-portal__menu-item-arrow"></i>
      </a>
    </li>
    <nz-divider></nz-divider>
  </div> -->

  <div>
    <nz-divider></nz-divider>
    <li class="co-portal__menu-item">
      <a [routerLink]="['/platform/user']" nzTooltipTitle="E-commerce" nzTooltipPlacement="right" nz-tooltip>
        <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-item-icon"></i>
        <span class="co-portal__menu-item-title-text">
          {{ 'E-commerce' | translate }}
        </span>

      </a>
    </li>
  </div>
  <div>
    <nz-divider></nz-divider>
    <li class="co-portal__menu-item">
      <a [routerLink]="['/platform/role']" nzTooltipTitle="E-commerce" nzTooltipPlacement="right" nz-tooltip>
        <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-item-icon"></i>
        <span class="co-portal__menu-item-title-text">
          {{ 'E-commerce' | translate }}
        </span>
      </a>
    </li>
  </div>
  <div>
    <nz-divider></nz-divider>
    <li class="co-portal__menu-item">
      <a [routerLink]="['/platform/job']" nzTooltipTitle="E-commerce" nzTooltipPlacement="right" nz-tooltip>
        <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-item-icon"></i>
        <span class="co-portal__menu-item-title-text">
          {{ 'job' | translate }}
        </span>
      </a>
    </li>
  </div>
  <div>
    <nz-divider></nz-divider>
    <li class="co-portal__menu-item">
      <a [routerLink]="['/fcm/order']" nzTooltipTitle="E-commerce" nzTooltipPlacement="right" nz-tooltip>
        <i nz-icon nzIconfont="iconsetting" class="co-portal__menu-item-icon"></i>
        <span class="co-portal__menu-item-title-text">
          {{ 'E-commerce' | translate }}
        </span>
      </a>
    </li>
  </div>
</ul>
