<!--底部栏-->
<ul class="portal-menu__wrap" #mainMenu>
  <li class="portal-menu__item portal-menu__item-active portal-menu__item-main">
    <a
      co-submenu
      #submenu
      [nzContent]="submenuTemplate"
      [coPopoverOrigin]="mainMenu"
      coPopoverTrigger="click"
      coPopoverPlacement="rightTop"
      (coCatecoryActived)="onCatecoryActived($event)"
    >
      <i nz-icon nzType="menu" nzTheme="outline"></i>
      <span *ngIf="!pro.onlyIcon" class="portal-menu__item-title">
        {{ 'portal.menu' | translate }}
      </span>
      <i nz-icon nzType="right" class="portal-menu__item-arrow"></i>
    </a>
  </li>

  <ng-template #submenuTemplate>
    <div nz-row style="height: 100%;">
      <div nz-col [nzSpan]="12" class="portal-menu__submenu-category">
        <div *ngFor="let menu of defaultMenus">
          <div
            class="portal-menu__submenu-category-item"
            [attr.data]="menu.key"
            [ngClass]="{ 'portal-menu__submenu-category-item-actived': activedCategory === menu.key }"
          >
            <i nz-icon nzType="menu" nzTheme="outline"></i>
            <span *ngIf="!pro.onlyIcon" class="portal-menu__submenu-category-item-title"> {{ menu.text }} </span>
            <i nz-icon nzType="right" class="portal-menu__submenu-category-item-arrow"></i>
          </div>
          <nz-divider></nz-divider>
        </div>
      </div>
      <div nz-col [nzSpan]="12" class="portal-menu__submenu">
        <h3 class="portal-menu__submenu-group"><i></i>默认</h3>
        <div class="portal-menu__submenu-item" *ngFor="let menu of childMenus">
          <a [routerLink]="menu.link">
            <i nz-icon nzType="book" nzTheme="outline"></i>
            {{ menu.text }}
          </a>
        </div>
        <nz-divider></nz-divider>
      </div>
    </div>
  </ng-template>

  <!--用户常用收藏菜单-->
  <div *ngFor="let menu of favoritesMenus">
    <nz-divider></nz-divider>
    <li class="portal-menu__item" [nzTooltipTitle]="menu.text" nzTooltipPlacement="right" nz-tooltip>
      <a [routerLink]="menu.link">
        <!-- <i nz-icon [nzIconfont]="menu.icon.value" class="portal-menu__item-icon" *ngIf="menu.icon.value"></i> -->
        <i nz-icon nzType="book" nzTheme="outline"></i>
        <span class="portal-menu__item-title"> {{ menu.text }} </span>
      </a>
    </li>
  </div>
</ul>
