<section class="overflow-wrap">
  <h4>Booking Details</h4>
  <section class="request-wrap">
    <div *ngFor="let process of requestProcess" [ngClass]="{ 'not-check-bg': !process.checked, 'check-bg': process.checked }">
      <i nz-icon [nzIconfont]="'icon-yiwancheng'" class="iconfont icon-yiwancheng"></i>
      <div class="process-content-wrap">
        <span class="status">{{ (process.checked ? 'Completed' : 'To be completed') | translate }}</span>
        <span class="">{{ process.name | translate }}</span>
      </div>
    </div>
  </section>
  <section class="content-wrap detail-wrap">
    <h5>
      {{ 'Cargo' | translate }}
      <i
        nz-icon
        [nzIconfont]="'icon-zhankai'"
        class="iconfont icon-zhankai"
        [ngStyle]="{ transform: baseShow ? 'rotate(180deg)' : '' }"
        (click)="baseShow = !baseShow"
      ></i>
    </h5>
    <ng-container *ngIf="baseShow">
      <p *ngIf="bookingDetail.cargoReadyDate">
        <i nz-icon [nzIconfont]="'icon-date'" class="iconfont icon-date"></i>
        <span>{{ 'Cargo Ready Date' | translate }}：{{ getTime(bookingDetail.cargoReadyDate) }}</span>
      </p>

      <p class="quantity-weight-volume" *ngIf="getContainerType(bookingDetail)">
        <i nz-icon [nzIconfont]="'icon-Container'" class="iconfont icon-Container"></i>
        <strong>{{ getContainerType(bookingDetail) }}</strong>
      </p>
      <p *ngIf="bookingDetail?.quantity || bookingDetail?.weight || bookingDetail?.volume" class="quantity-wrap">
        <i nz-icon [nzIconfont]="'icon-volume'" class="iconfont icon-volume"></i>
        <strong>{{ bookingDetail?.quantity }}{{ bookingDetail?.quantityUnitString }}</strong>
        <strong>{{ bookingDetail?.weight }}{{ bookingDetail?.weightUnitString }}</strong>
        <strong>{{ bookingDetail?.volume }}{{ bookingDetail?.volumeUnitString }}</strong>
      </p>
    </ng-container>
    <h5 *ngIf="bookingDetail?.specialInstructions || bookingDetail?.containsSpecialGoodsTypes || bookingDetail?.description">
      {{ 'Specifics' | translate }}
      <i
        nz-icon
        [nzIconfont]="'icon-zhankai'"
        class="iconfont icon-zhankai"
        [ngStyle]="{ transform: instructionsShow ? 'rotate(180deg)' : '' }"
        (click)="instructionsShow = !instructionsShow"
      ></i>
    </h5>
    <div class="Special-wrap" *ngIf="instructionsShow">
      <label *ngIf="bookingDetail?.description" class="title">{{ 'Description Of Products' | translate }}</label>
      <p *ngIf="bookingDetail?.description">
        <span class="description-instructions">{{ bookingDetail?.description }}</span>
      </p>
      <label *ngIf="bookingDetail?.specialInstructions" class="title">{{ 'Special Instructions' | translate }}</label>
      <p *ngIf="bookingDetail?.specialInstructions">
        <span class="description-instructions">{{ bookingDetail?.specialInstructions }}</span>
      </p>
      <div *ngIf="bookingDetail?.containsSpecialGoodsTypes" class="specialGoodsName">
        <label nz-checkbox nzDisabled *ngFor="let item of bookingDetail?.containsSpecialGoodsTypesArr" [ngModel]="true">{{
          item.Name
        }}</label>
      </div>
    </div>
  </section>
</section>
