<div class="wrapper">
    <div style="height: 182px;">
        <user-login-head></user-login-head>
    </div>
    <div class="reset-password">
        <div style="display:flex;justify-content: flex-end;">
            <a class="login-link" routerLink="/login">Login</a>
        </div>
        <form nz-form [formGroup]="formGroup" style="width: 506px;margin: auto;margin-top: 76px;">
            <div class="login-title" style="margin-bottom: 4px;">Welcome to City Ocean</div>
            <div class="login-sub-title" style="margin-bottom: 60px;">You requested to reset your password for your City Ocean account</div>
            <nz-form-item>
            <nz-form-control [nzErrorTip]="passwordErrorTpl" style="margin-bottom: 36px;">
                <input type="password" name="password" minlength="6" nz-input formControlName="password" class="login-input" placeholder="New Password" required>
                <ng-template #passwordErrorTpl let-control>
                    <div *ngIf="control.hasError('minlength')">
                        Password at least 6 characters.
                    </div>
                    <div *ngIf="control.hasError('required')">
                        Please input password!
                    </div>
                </ng-template>
            </nz-form-control>
            </nz-form-item>
            <nz-form-item>
            <nz-form-control [nzErrorTip]="password2ErrorTpl" style="margin-bottom: 32px;">
                <input type="password" name="password2" minlength="6" nz-input formControlName="password2" class="login-input" placeholder="Confirm New Password" required>
                <ng-template #password2ErrorTpl let-control>
                    {{log(control)}}
                    <div *ngIf="control.hasError('minlength')">
                        Password at least 6 characters.
                    </div>
                    <div *ngIf="control.hasError('required')">
                        Please input password!
                    </div>
                    <div *ngIf="control.hasError('confirm')">
                        Password is inconsistent!
                    </div>
                </ng-template>
            </nz-form-control>
            </nz-form-item>
            <button nz-button class="login-button" [disabled]="formGroup.invalid" [nzType]="'primary'" nzBlock
                    (click)="resetPassword()">Request Password Link
            </button>
        </form>
    </div>
</div>
